* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container .item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    background-color: #e9fce9;
    border: 5px solid #87ed89;
}

#container .col-2 div:nth-child(1) {

    height: 200px;
}

